*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  border: none;
}
.clearfix {
    display: block;
    &:after {
        clear: both;
        content: ".";
        display: block;
        font-size: 0;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
}
